body{
    
}
.grid{
    position: absolute;
    top: 15%;
    left: 30%;
    width:560px;
    height: 300px;
    border: solid black 8px;
    margin-top: 200px;
    margin-left: 10px;
   
}

.block{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blueviolet;
}

.user{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: darkred;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: greenyellow;
}
#score {
    border: 3px solid black;
    border-radius: 4px;
    margin: 20px auto;
    width: 200px;
    color: black;
    font-size: 46px;
    text-align: center;
    padding: 15px 20px;
    font-family: 'secular one';
    position: relative ;

}

#user{
    text-align: center;
    font-family: 'Secular One', sans-serif;
    font-weight: bolder;
    font-size: 50px
}
input{
text-align: end;
background-color: black;
color: bisque;
font-size: 30px;
    
}